# keep rule
!gitkeep.txt

#django#
*.log
*.pyc
__pycache__


#Media - User generated content #
media/

.venv
venv/
# Environments
.env 
virtual_env

# visual studio code 
*.suo 
*.pyproj 
*.pyproj.User
*.history
.vs/
obj/



# Heroku
staticfiles/