{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ shoe.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">{{ shoe.name }}</h1><br><hr><br>
        <div class="row">
            <div class="col-md-6">
                {% if primary_image %}
                    <img style="width: 400px; height: 300px; margin-left: 100px;" src="{{ primary_image.image.url }}" class="img-fluid" alt="{{ shoe.name }}">
                {% else %}
                    <img style="width: 500px; height: 400px; margin-left:100px;" src="{% static 'images/download.jpg' %}" class="img-fluid" alt="{{ shoe.name }}">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h2>${{ shoe.price }}</h2>
                <p>{{ shoe.description }}</p>
                <p><strong>Category:</strong> {{ shoe.category.name }}</p>
                <p><strong>Sizes:</strong> 
                    {% for attr in shoe_attributes %}
                        {% for size in attr.size.all %}
                            {{ size.name }}{% if not forloop.parentloop.last or not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endfor %}
                </p>
                <p><strong>Colors:</strong> 
                    {% for attr in shoe_attributes %}
                        {{ attr.color.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
                <a href="{% url 'shoe-3d' shoe.slug %}" class="btn btn-secondary">View in 3D</a>
                <a style="margin-left: 70px;" href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h3 class="text-center">Related Shoes<h3>
</body>
</html>
