
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shoe List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Product List</h1><br><hr><br>
        <div class="row">
            {% for shoe in shoes %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        {% if shoe.attributes.first.images.first %}
                            <a href="{% url 'products:shoe-detail' shoe.slug %}"><img style="width: 200px; height: 150px;" src="{{ shoe.attributes.first.images.first.image.url }}" class="card-img-top" alt="{{ shoe.name }}"></a>
                        {% else %}
                            <a href="{% url 'products:shoe-detail' shoe.slug %}"><img style="width: 200px; height: 150px;" src="{% static 'default-shoe-image.jpg' %}" class="card-img-top" alt="{{ shoe.name }}"></a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ shoe.name }}</h5>
                            <p class="card-text">{{ shoe.description|truncatewords:20 }}</p>
                            <p class="card-text"><strong>${{ shoe.price }}</strong></p>
                            <a href="{% url 'products:shoe-detail' shoe.slug %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
