{% extends 'main.html' %}
{% load static %}
{% block content %}
  <style>
    @media screen and (max-width: 600px) {
      #container{
        margin-top: -610px;
      }
      #container2{
        margin-top: -420px;
        margin-bottom: -570px;
      }
    }
  </style>
  <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url('{% static "assets/img/slide1.jpg" %}')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Step into 
                      <br> Style
                    </p>
                    <h1 class="intro-title mb-4 ">
                      <span class="color-b">Discover </span>  the Latest 
                      <br> Collection
                    </h1>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url('{% static "assets/img/slide3.jpg" %}')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Our Most
                      <br> Loved
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Explore </span> Our Best
                      <br> Selling Shoes 
                    </h1>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url('{% static "assets/img/slide2.jpg" %}')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">Limited-Time
                      <br> Deals
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Up to 50% </span>  Off 
                      <br> Selected Styles
                    </h1>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div><!-- End Intro Section -->

    <!-- ======= Services Section ======= -->
    <section class="section-services section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Our Services</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-cart"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Premium Quality</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Discover the perfect blend of style and durability with our premium shoes, crafted from the finest materials to ensure both comfort and longevity.
                   Every pair is designed with meticulous attention to detail, reflecting our commitment to delivering exceptional quality that you can trust
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-calendar4-week"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Best Offers</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Take advantage of our exclusive deals and promotions, offering you the best value on the latest trends and classic styles. We strive to provide unbeatable
                   prices without compromising on quality, making it easier than ever to expand your shoe collection with affordable luxury.
                </p>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="card-box-c foo">
              <div class="card-header-c d-flex">
                <div class="card-box-ico">
                  <span class="bi bi-card-checklist"></span>
                </div>
                <div class="card-title-c align-self-center">
                  <h2 class="title-c">Fast Delivery</h2>
                </div>
              </div>
              <div class="card-body-c">
                <p class="content-c">
                  Enjoy the convenience of our fast and reliable delivery service, ensuring your favorite shoes arrive at your doorstep in no time.
                   We prioritize efficiency and accuracy in our shipping process, so you can start enjoying your new purchases without any unnecessary delays.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Latest Properties Section ======= -->
    <section class="section-property" style="margin-top:30px">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Latest Shoes</h2>
              </div>
              <div class="title-link">
                <a href="{% url 'products:shoe-list' %}">All Shoes
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">

            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{% static 'assets/img/slide1.jpg' %}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="property-single.html">206 Mount
                          <br /> Olive Road Two</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Price | $ 12.000</span>
                      </div>
                      <a href="{% url 'products:shoe-list' %}" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{% static 'assets/img/slide2.jpg' %}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="property-single.html">206 Mount
                          <br /> Olive Road Two</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Price | $ 12.000</span>
                      </div>
                      <a href="{% url 'products:shoe-list' %}" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{% static 'assets/img/slide3.jpg' %}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="property-single.html">206 Mount
                          <br /> Olive Road Two</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Price | $ 12.000</span>
                      </div>
                      <a href="{% url 'products:shoe-list' %}" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
            <div class="carousel-item-b swiper-slide">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="{% static 'assets/img/slide4.jpg' %}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="property-single.html">206 Mount
                          <br /> Olive Road Two</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">Price | $ 12.000</span>
                      </div>
                      <a href="{% url 'products:shoe-list' %}" class="link-a">Click here to view
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- End carousel item -->
    </section><!-- End Latest Properties Section -->

    <!-- ======= Latest News Section ======= -->
    <section class="section-news" id="section-news" style="margin-top:-350px">
      <div class="container" id="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Latest Blogs</h2>
              </div>
              <div class="title-link">
                <a href="{% url 'blog:blog-list' %}">All Blogs
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="news-carousel" class="swiper">
          <div class="swiper-wrapper">

            <div class="carousel-item-c swiper-slide">
              <div class="card-box-b card-shadow news-box">
                <div class="img-box-b">
                  <img src="{% static 'assets/img/post-2.jpg' %}" alt="" class="img-b img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-header-b">
                    <div class="card-category-b">
                      <a href="#" class="category-b">House</a>
                    </div>
                    <div class="card-title-b">
                      <h2 class="title-2">
                        <a href="blog-single.html">House is comming
                          <br> new</a>
                      </h2>
                    </div>
                    <div class="card-date">
                      <span class="date-b">18 Sep. 2017</span>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End carousel item -->
        <div class="news-carousel-pagination carousel-pagination"></div>
      </div>
        </div>
      </div>
    </section><!-- End Latest News Section -->

    <!-- ======= Testimonials Section ======= -->
    <section class="section-testimonials  nav-arrow-a" style="margin-top:-200px;margin-bottom: -450px;">
      <div class="container" id="container2">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Testimonials</h2>
              </div>
            </div>
          </div>

        <div id="testimonial-carousel" class="swiper">
          <div class="swiper-wrapper">

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                  <div class="col-sm-12 col-md-12">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        I was amazed by the fast delivery service! I ordered on a Monday and had my shoes by Wednesday. The whole process was seamless, and 
                        the packaging was great too. I’m definitely impressed and will be shopping here again!
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <h5 class="testimonial-author">Mark T.</h5>
                    </div>
                  </div>
              </div>
            </div><!-- End carousel item -->

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                  <div class="col-sm-12 col-md-12">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        The designs are absolutely stunning! I bought a pair of boots that are not only stylish but also incredibly comfortable.
                         They’ve quickly become a staple in my wardrobe, and I get compliments every time I wear them.
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <h5 class="testimonial-author">Jessica H.</h5>
                    </div>
                  </div>
              </div>
            </div>


            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                  <div class="col-sm-12 col-md-12">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        The customer service was exceptional. I had a few questions about sizing and the support team was incredibly helpful 
                        and responsive. It’s rare to find such dedicated service these days. Highly recommend!
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <h5 class="testimonial-author">David R.</h5>
                    </div>
                  </div>
              </div>
            </div>

            <div class="carousel-item-a swiper-slide">
              <div class="testimonials-box">
                  <div class="col-sm-12 col-md-12">
                    <div class="testimonial-ico">
                      <i class="bi bi-chat-quote-fill"></i>
                    </div>
                    <div class="testimonials-content">
                      <p class="testimonial-text">
                        I recently purchased a pair of running shoes, and I couldn't be happier with my choice. The comfort and quality are unmatched, and they’ve become
                         my go-to for both workouts and casual outings. I’ve never had shoes that feel this good right out of the box!
                      </p>
                    </div>
                    <div class="testimonial-author-box">
                      <h5 class="testimonial-author">Sarah L.</h5>
                    </div>
                  </div>
              </div>
            </div><!-- End carousel item -->

          </div>
        </div>

      </div>
    </section>


{% endblock content %}